---
---

//$outline: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
$outline: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black, -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;


@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 1em;
  font-family: "Montserrat", sans-serif;
  // background: url("/assets/images/bg_neutral_light.jpg");

  // https://stock.adobe.com/images/neutral-beige-watercolour-background-watercolor-texture-hand-drawn-abstract-illustration-on-white/501009831
  //background: url("/assets/images/bg2.jpg");
  background: url("/assets/images/bg_leaves.jpg");
  background-size: cover;
  color: #8ea289;
}

#content {
}

.twopanel {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.textpanel {
  // background: #fff8;
  // padding: 2em;
  border-radius: 0.5em;
  // border: 2px solid $color3;
}

.fullpanel {
}

.leftpanel {
  width: 550px;
  margin: 2em;
}

img.leftpanel {
  object-fit: cover;
  height: 500px;
}

.rightpanel {
  width: 550px;
  margin: 2em;
}

nav {
  padding: 1em 2em 0.5em 2em;
}

nav h2 {
  float: left;
  height: 100%;
  margin: 7px 0;
  margin-right: 2em;
  font-weight: 500;
  font-family: "Libre Bodoni", serif;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav ul li {
  padding: 0.5em;
  margin: 0.5em;
  text-align: right;
}

nav a, nav a:link, nav a:visited {
  //color: #000;
  color: #8ea289;
  font-weight: 500;
}

a, a:link, a:visited {
  //color: $color3;
  color: #A05339;
  text-shadow: $outline;
  font-weight: 600;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-wrap: wrap;
}

#home div {
  flex: 0 0 100%;
  text-align: center;
}

#home .title {
  font-size: 10em;
  font-family: "Libre Bodoni", serif;
  font-weight: 800;
  color: #b57452;
  text-shadow: $outline;
}

#home .subtitle {
  font-size: 3em;
  margin-bottom: 1em;
  color: #ddd;
}

#home .details {
  font-size: 1.5em;
}

#home .details a {
}

.textpanel .details {
  font-size: 1.2em;
}

h1 {
  font-size: 3em;
  font-family: "Libre Bodoni", serif;
  font-weight: 900;
  color: #b57452;
  text-shadow: $outline;
}

#content h2 {
  font-weight: bold;
}

h3 {
  color: #ddd;
}

p.big {
  font-size: 1.5em;
  color: #ddd;
}

p.event {
  width: 20em;
  border: 4px solid #8EA289;
  background: #171D17;
  padding: 2em;
  margin-top: 2em;
  font-weight: 400;
}

img {
  border-radius: 0.5em;
}

.white {
  color: #ddd;
}

.white ul {
  color: #8ea289;
} 

.leftpanel img {
  margin: 3em 0;
}